.main{
    display: flex;
    flex-direction: column;
    background-color: #080b14;
    color: #F9FAFB;
    font-weight: 600;
    align-items: center;
    text-align: center;
}
.Cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    
}

