.main{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.Cards{
    display: flex;
    margin: 0 10px 0 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
.filterHolder{
    display: flex;
    flex-direction: column;
}
.filters{
    display: flex;
}
